body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.6rem;
  line-height: 1.5;
}
.display-1 > .mbr-iconfont {
  font-size: 5.76rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 1.3;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.875rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 3rem;
}
.display-7 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  line-height: 2;
}
.display-7 > .mbr-iconfont {
  font-size: 1.28rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.52rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem !important;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.4rem 1rem;
  border-radius: 4px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 8px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 8px;
}
.bg-primary {
  background-color: #ff513c !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #d52b27 !important;
}
.bg-danger {
  background-color: #f20d0d !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #ef1a00 !important;
  border-color: #ef1a00 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ef1a00 !important;
  border-color: #ef1a00 !important;
}
.btn-primary:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #282f39 !important;
  border-color: #282f39 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #080a0c !important;
  border-color: #080a0c !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #080a0c !important;
  border-color: #080a0c !important;
}
.btn-secondary:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-info:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #d52b27 !important;
  border-color: #d52b27 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #941e1b !important;
  border-color: #941e1b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #941e1b !important;
  border-color: #941e1b !important;
}
.btn-warning:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f20d0d !important;
  border-color: #f20d0d !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a90909 !important;
  border-color: #a90909 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a90909 !important;
  border-color: #a90909 !important;
}
.btn-danger:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-white,
.btn-white:active {
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
  color: #737373 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #737373 !important;
  background-color: #cdcdcd !important;
  border-color: #cdcdcd !important;
}
.btn-white:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-white:hover {
  color: white!important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black:hover {
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ff513c;
  color: #ff513c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ff513c;
  border-color: #ff513c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff513c !important;
  border-color: #ff513c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #282f39;
  color: #282f39;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #282f39;
  border-color: #282f39;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #282f39 !important;
  border-color: #282f39 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #d52b27;
  color: #d52b27;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #d52b27;
  border-color: #d52b27;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d52b27 !important;
  border-color: #d52b27 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #f20d0d;
  color: #f20d0d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f20d0d;
  border-color: #f20d0d;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f20d0d !important;
  border-color: #f20d0d !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #f3f3f3;
  color: #f3f3f3;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #737373;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #737373 !important;
  background-color: #f3f3f3 !important;
  border-color: #f3f3f3 !important;
}
.text-primary {
  color: #ff513c !important;
}
.text-secondary {
  color: #282f39 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #d52b27 !important;
}
.text-danger {
  color: #f20d0d !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ffaca2 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #526075 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #ffffff !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #ffffff !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e77e7b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #f76e6e !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #d52b27;
}
.alert-danger {
  background-color: #f20d0d;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff513c;
  border-color: #ff513c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff513c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f7d2d1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fccfcf;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
blockquote {
  border-color: #ff513c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff513c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff513c;
  border-bottom-color: #ff513c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff513c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #282f39 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff513c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sQyyrT7LEK {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: #f4f6f9;
}
@media (max-width: 767px) {
  .cid-sQyyrT7LEK {
    padding-top: 25px;
    padding-bottom: 15px;
  }
}
.cid-sQyyrT7LEK .nav-link {
  font-weight: 900;
}
.cid-sQyyrT7LEK .nav-item:not(:first-child)::before {
  background: #282f39;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sQyyrT7LEK .navbar-nav {
  display: block;
}
.cid-sQyyrT7LEK .navbar-nav li {
  display: inline-block;
}
.cid-sQyyrT7LEK li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sQyyrT7LEK .navbar-nav,
.cid-sQyyrT7LEK .mbr-section-title {
  color: #ffffff;
}
.cid-sQrEju0lQa .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 16px;
  position: absolute;
  right: 1rem;
  top: 30%;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQrEju0lQa .nav-item,
.cid-sQrEju0lQa .nav-link,
.cid-sQrEju0lQa .navbar-caption {
  font-weight: normal;
}
.cid-sQrEju0lQa .nav-item:focus,
.cid-sQrEju0lQa .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-sQrEju0lQa .dropdown-item:hover:before {
    transform: scale(1, 1);
  }
}
.cid-sQrEju0lQa .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sQrEju0lQa .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-sQrEju0lQa .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-sQrEju0lQa .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-sQrEju0lQa .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sQrEju0lQa .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sQrEju0lQa .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sQrEju0lQa .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sQrEju0lQa .collapsed .icons-menu {
  padding-left: 16px;
}
.cid-sQrEju0lQa .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #f3f3f3;
  background: none;
}
.cid-sQrEju0lQa .navbar.opened {
  transition: all 0.3s;
  background: #f3f3f3 !important;
}
.cid-sQrEju0lQa .navbar .dropdown-item {
  padding: 0.235rem 2.5rem 0.235rem 1.5rem;
}
.cid-sQrEju0lQa .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sQrEju0lQa .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sQrEju0lQa .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sQrEju0lQa .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 6rem - 1rem);
  }
}
.cid-sQrEju0lQa .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-sQrEju0lQa .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sQrEju0lQa .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sQrEju0lQa .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sQrEju0lQa .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
  justify-content: center;
}
.cid-sQrEju0lQa .navbar.collapsed .icons-menu {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sQrEju0lQa .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sQrEju0lQa .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sQrEju0lQa .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-sQrEju0lQa .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sQrEju0lQa .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sQrEju0lQa .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sQrEju0lQa .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sQrEju0lQa .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
    justify-content: center;
  }
  .cid-sQrEju0lQa .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-sQrEju0lQa .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sQrEju0lQa .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sQrEju0lQa .navbar.navbar-short {
  background: #f3f3f3 !important;
  min-height: 60px;
}
.cid-sQrEju0lQa .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sQrEju0lQa .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sQrEju0lQa .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sQrEju0lQa .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sQrEju0lQa .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sQrEju0lQa .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-sQrEju0lQa .dropdown-item.active,
.cid-sQrEju0lQa .dropdown-item:active {
  background-color: transparent;
}
.cid-sQrEju0lQa .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sQrEju0lQa .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sQrEju0lQa .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f3f3f3;
}
.cid-sQrEju0lQa .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sQrEju0lQa .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sQrEju0lQa ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sQrEju0lQa .navbar-buttons {
  text-align: center;
}
.cid-sQrEju0lQa .navbar-buttons .btn.btn-sm {
  padding: 6px 24px !important;
  min-width: 140px;
  line-height: 1.5;
}
.cid-sQrEju0lQa button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sQrEju0lQa button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #181818;
}
.cid-sQrEju0lQa button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sQrEju0lQa button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sQrEju0lQa button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sQrEju0lQa button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sQrEju0lQa nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sQrEju0lQa nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sQrEju0lQa nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sQrEju0lQa nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sQrEju0lQa .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-sQrEju0lQa a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-sQrEju0lQa .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  display: inline-flex;
}
.cid-sQrEju0lQa .soc-item {
  margin: 0.5rem 0.3rem;
}
.cid-sQrEju0lQa .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sQrEju0lQa .navbar {
    height: 77px;
  }
  .cid-sQrEju0lQa .navbar.opened {
    height: auto;
  }
  .cid-sQrEju0lQa .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sQrEnkgwBb {
  padding-top: 105px;
  padding-bottom: 105px;
  background-image: url("../../../assets/images/woa4u4kzdrezrb3ysylab2jdoe-1200x675.jpg");
}
.cid-sQrEnkgwBb .mbr-section-subtitle {
  color: #aeaeae;
}
.cid-sQrEnkgwBb .carousel-item {
  justify-content: flex-start;
  text-align: left;
}
.cid-sQrEnkgwBb .carousel-item.active,
.cid-sQrEnkgwBb .carousel-item-next,
.cid-sQrEnkgwBb .carousel-item-prev {
  display: flex;
}
.cid-sQrEnkgwBb .carousel-controls a {
  transition: opacity 0.5s;
  font-size: 2rem;
  width: 5%;
}
.cid-sQrEnkgwBb .carousel-controls a span {
  position: absolute;
  top: 45%;
  font-size: 30px;
  padding: 15px;
  border-radius: 50%;
  color: #ffffff;
  background: transparent;
}
.cid-sQrEnkgwBb .carousel-controls a:hover span {
  opacity: 1;
}
@media (max-width: 992px) {
  .cid-sQrEnkgwBb .carousel-controls {
    display: none;
  }
}
.cid-sQrEnkgwBb .btn {
  margin: 0.4rem !important;
  justify-content: space-between;
}
.cid-sQrEnkgwBb .btn.btn-sm {
  padding: 9px 41px;
}
.cid-sQrEnkgwBb .carousel-indicators {
  margin: 20px auto 0;
  align-items: center;
  position: relative;
}
.cid-sQrEnkgwBb .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #ffffff;
}
.cid-sQrEnkgwBb .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity 0.5s;
  background-color: #666666;
  font-size: 2rem;
  opacity: 0.5;
  border-width: 0px;
}
.cid-sQrEnkgwBb .carousel-indicators li:hover {
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-sQrEnkgwBb * {
    text-align: center;
  }
}
.cid-sQsCRI8YI8 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/fondo-rojo-2000x900.jpg");
}
@media (max-width: 767px) {
  .cid-sQsCRI8YI8 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.cid-sQsCRI8YI8 .nav-link {
  font-weight: 900;
}
.cid-sQsCRI8YI8 .nav-item:not(:first-child)::before {
  background: #282f39;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sQsCRI8YI8 .navbar-nav {
  display: block;
}
.cid-sQsCRI8YI8 .navbar-nav li {
  display: inline-block;
}
.cid-sQsCRI8YI8 li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sQsCRI8YI8 .navbar-nav,
.cid-sQsCRI8YI8 .mbr-section-title {
  color: #ffffff;
}
.cid-sQs5GcEPL4 {
  padding-top: 60px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-sQs5GcEPL4 h1 {
  margin-bottom: 0.2rem;
}
.cid-sQs5GcEPL4 .container-fluid {
  padding: 0;
}
.cid-sQs5GcEPL4 img {
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 10;
}
.cid-sQs5GcEPL4 .mbr-figure {
  height: 100%;
}
.cid-sQs5GcEPL4 .col-lg-6 {
  padding: 0;
}
.cid-sQs5GcEPL4 .mbr-text {
  color: #747474;
}
.cid-sQs5GcEPL4 hr {
  width: 40px;
  height: 2px;
  top: -1rem;
}
.cid-sQs5GcEPL4 .mbr-section-subtitle {
  margin-bottom: 3.5rem;
}
.cid-sQs5GcEPL4 .mbr-section-subtitle-1 {
  color: #e1201d;
}
.cid-sQs5GcEPL4 .mbr-section-subtitle-2 {
  margin-top: 4.2rem;
}
.cid-sQs5GcEPL4 .mbr-figure::after {
  content: '';
  background-color: #f20d0d;
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: -20px;
  right: -5px;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-sQs5GcEPL4 .mbr-figure::after {
    bottom: -15px;
    right: 0px;
  }
}
@media (min-width: 767px) {
  .cid-sQs5GcEPL4 .row {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .cid-sQs5GcEPL4 .media-content {
    padding-left: 2.2rem;
  }
}
@media (max-width: 992px) {
  .cid-sQs5GcEPL4 .left-block {
    margin-top: 4.5rem;
  }
}
.cid-sQs5GcEPL4 .btn {
  color: #101010 !important;
}
.cid-sQs5GcEPL4 .btn:hover {
  color: #ffffff !important;
}
.cid-sQs5GcEPL4 .line-title {
  width: 40px;
  height: 2px;
  background-color: #f20d0d;
  margin-bottom: 1.2rem;
  display: inline-block;
}
.cid-sQs5GcEPL4 .vertical-line:before {
  content: '';
  background-color: #f20d0d;
  height: 60px;
  width: 2px;
  position: absolute;
  top: -30px;
  left: 50%;
}
.cid-sQsOp9HZGo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f3f3f3;
}
.cid-sQsOp9HZGo h3 {
  margin-bottom: 0;
}
.cid-sQsOp9HZGo .container-fluid {
  padding: initial;
}
.cid-sQsOp9HZGo .row {
  margin: 0px;
}
.cid-sQsOp9HZGo .mbr-section-title {
  padding-bottom: 30px;
  color: #f20d0d;
  text-align: left;
}
.cid-sQsOp9HZGo .mbr-section-subtitle {
  color: #181818;
  text-align: left;
}
.cid-sQsOp9HZGo .color {
  background-color: #e9e9e9;
}
.cid-sQsOp9HZGo .paddings {
  padding: 145px 100px;
}
.cid-sQsOp9HZGo .title,
.cid-sQsOp9HZGo .mbr-section-title {
  padding-bottom: 18px;
  font-weight: 600;
}
@media (max-width: 1150px) {
  .cid-sQsOp9HZGo .paddings {
    padding: 30px 50px;
  }
}
.cid-sQsOp9HZGo .title {
  text-align: left;
  color: #ff4433;
}
.cid-sQsOp9HZGo .subtitle {
  text-align: left;
  color: #333333;
}
@media (max-width: 650px) {
  .cid-sQsOp9HZGo .paddings {
    padding: 30px;
  }
}
.cid-sQsPFrlgM2 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/fondo-rojo3-2000x900.jpg");
}
@media (max-width: 767px) {
  .cid-sQsPFrlgM2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.cid-sQsPFrlgM2 .nav-link {
  font-weight: 900;
}
.cid-sQsPFrlgM2 .nav-item:not(:first-child)::before {
  background: #282f39;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sQsPFrlgM2 .navbar-nav {
  display: block;
}
.cid-sQsPFrlgM2 .navbar-nav li {
  display: inline-block;
}
.cid-sQsPFrlgM2 li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sQsPFrlgM2 .navbar-nav,
.cid-sQsPFrlgM2 .mbr-section-title {
  color: #ffffff;
}
.cid-sQtnjxnxmL {
  padding-top: 0px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/fondo-rojo3-2000x900.jpg");
}
.cid-sQtnjxnxmL .card-box {
  padding: 2rem;
  padding-top: 3rem;
}
@media (min-width: 1500px) {
  .cid-sQtnjxnxmL .container {
    max-width: 1400px;
  }
}
.cid-sQtnjxnxmL img {
  width: 100%;
}
.cid-sQtnjxnxmL .link-wrap {
  width: 100%;
}
.cid-sQtnjxnxmL .link {
  display: inline-block;
}
.cid-sQtnjxnxmL .card {
  transition: all 0.3s;
}
.cid-sQtnjxnxmL .card:hover {
  transform: translateY(-10px);
}
.cid-sQtnjxnxmL .card-wrapper {
  background-position: center;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  background: #ffffff;
  transition: all 0.3s;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767px) {
  .cid-sQtnjxnxmL .card-box {
    padding: 1rem;
    padding-top: 2rem;
  }
}
.cid-sQs4UVtvK0 {
  padding-top: 8rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-sQs4UVtvK0 .mbr-section-title {
  margin-bottom: 35px;
}
.cid-sQs4UVtvK0 .mbr-section-title b,
.cid-sQs4UVtvK0 .mbr-section-title strong {
  font-weight: 500;
}
.cid-sQs4UVtvK0 .figure {
  display: block;
  position: relative;
  z-index: 1;
}
.cid-sQs4UVtvK0 .figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 119px;
  height: 119px;
  top: -100px;
  left: -50px;
  background-image: url("../../../assets/images/pngwing.com-4-1180x1192.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .cid-sQs4UVtvK0 .figure:before {
    width: 89px;
    height: 89px;
    top: -55px;
    left: -18px;
  }
}
.cid-sQtp4U3TgL {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/wallpaperbetter-2-1900x1200.jpg");
}
@media (max-width: 767px) {
  .cid-sQtp4U3TgL {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.cid-sQtp4U3TgL .nav-link {
  font-weight: 900;
}
.cid-sQtp4U3TgL .nav-item:not(:first-child)::before {
  background: #282f39;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sQtp4U3TgL .navbar-nav {
  display: block;
}
.cid-sQtp4U3TgL .navbar-nav li {
  display: inline-block;
}
.cid-sQtp4U3TgL li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sQtp4U3TgL .navbar-nav,
.cid-sQtp4U3TgL .mbr-section-title {
  color: #ffffff;
}
.cid-sQtpJO4fjJ {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-sQtpJO4fjJ .mbr-section-title {
  margin-bottom: 25px;
}
.cid-sQtpJO4fjJ .mbr-section-subtitle {
  margin-bottom: 88px;
  font-weight: 400;
}
.cid-sQtpJO4fjJ .image {
  position: relative;
  z-index: 0;
  top: -50px;
}
.cid-sQtpJO4fjJ .image img {
  z-index: -1;
  width: 100%;
  max-height: 410px;
  object-fit: cover;
}
.cid-sQtpJO4fjJ .mbr-gallery-filter {
  text-align: left;
  padding: 0 20px;
  border-bottom: 1px solid #cce4f0;
}
.cid-sQtpJO4fjJ .mbr-gallery-filter .btn {
  padding: 0 20px 40px;
  margin: 0;
  margin-right: 35px;
  color: #f20d0d !important;
  font-weight: 700;
  text-align: left;
  background: transparent !important;
  position: relative;
  border: none;
  min-width: auto;
  width: auto;
}
.cid-sQtpJO4fjJ .mbr-gallery-filter ul {
  display: block;
}
.cid-sQtpJO4fjJ .mbr-gallery-filter ul li {
  position: relative;
  padding: 0;
}
.cid-sQtpJO4fjJ .mbr-gallery-filter li:not(.active) .btn.active:after,
.cid-sQtpJO4fjJ .mbr-gallery-filter li.active .btn:not(.active):after,
.cid-sQtpJO4fjJ .mbr-gallery-filter .mbr-gallery-filter .btn:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  width: 100%;
  bottom: 0;
  height: 11px;
  background-color: #f20d0d;
  transition: all 0.3s ease;
}
.cid-sQtpJO4fjJ .mbr-gallery-row {
  margin-top: 50px;
}
.cid-sQtpJO4fjJ .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-sQtpJO4fjJ .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
  border-radius: 4px;
}
.cid-sQtpJO4fjJ .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
  border-radius: 4px;
}
.cid-sQtpJO4fjJ .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-sQtpJO4fjJ .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111111;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}
.cid-sQtpJO4fjJ .mbr-gallery-item > div:hover::before {
  opacity: 0 !important;
}
.cid-sQtpJO4fjJ .mbr-gallery-title {
  transition: all .3s;
  position: absolute;
  display: block;
  font-weight: 700;
  width: 100%;
  bottom: 30px;
  left: 0;
  text-align: center;
  padding: 0 1rem;
  color: #fff;
  background: transparent;
}
.cid-sQtpJO4fjJ .icon-focus {
  transition: all .3s;
  top: 30%;
  width: 48px;
  height: 48px;
  transform: translateY(-30%);
}
.cid-sQtpJO4fjJ .mbr-gallery-item > div img,
.cid-sQtpJO4fjJ .mbr-gallery-item div:before {
  border-radius: 4px;
  height: 255px;
}
.cid-sQtpJO4fjJ .mbr-gallery-item > div {
  transition: all .3s;
  border-radius: 4px;
}
.cid-sQtpJO4fjJ .mbr-gallery-item:hover > div {
  transform: scale(0.95);
}
.cid-sQtpJO4fjJ .carousel-control-prev .mbri-left:before {
  content: "\e90a";
}
.cid-sQtpJO4fjJ .carousel-control-next .mbri-right:before {
  content: "\e909";
}
.cid-sQtpJO4fjJ .modal-body a.close {
  border-radius: 0;
  font-size: 32px;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  line-height: 70px;
}
@media (max-width: 991px) {
  .cid-sQtpJO4fjJ .mbr-section-subtitle {
    margin-bottom: 20px;
    text-align: center;
  }
  .cid-sQtpJO4fjJ .mbr-section-title {
    text-align: center;
  }
  .cid-sQtpJO4fjJ .image {
    top: auto;
    height: 420px;
  }
  .cid-sQtpJO4fjJ .mbr-gallery-filter .btn {
    padding: 0 0 22px;
  }
  .cid-sQtpJO4fjJ .mbr-gallery-filter ul li {
    margin-bottom: 10px;
  }
  .cid-sQtpJO4fjJ .mbr-gallery-item > div img,
  .cid-sQtpJO4fjJ .mbr-gallery-item div:before {
    height: auto;
    border-radius: 3px;
  }
  .cid-sQtpJO4fjJ .mbr-gallery-item > div {
    border-radius: 3px;
  }
}
@media (max-width: 767px) {
  .cid-sQtpJO4fjJ .image {
    height: 290px;
  }
}
.cid-sQtpJO4fjJ .mbr-gallery-item > div > span {
  text-align: left;
}
.cid-sQsMVK6nZv {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #111111;
}
@media (max-width: 767px) {
  .cid-sQsMVK6nZv {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.cid-sQsMVK6nZv .nav-link {
  font-weight: 900;
}
.cid-sQsMVK6nZv .nav-item:not(:first-child)::before {
  background: #282f39;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  transition: 0.3s;
}
.cid-sQsMVK6nZv .navbar-nav {
  display: block;
}
.cid-sQsMVK6nZv .navbar-nav li {
  display: inline-block;
}
.cid-sQsMVK6nZv li .nav-link {
  display: inline-block;
  vertical-align: middle;
  padding: 0.3rem 0.5rem !important;
}
.cid-sQsMVK6nZv .navbar-nav,
.cid-sQsMVK6nZv .mbr-section-title {
  color: #ffffff;
}
.cid-sQs1RF8mDh {
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #101010;
}
.cid-sQs1RF8mDh .mbr-overlay {
  background-color: #000000;
  opacity: 0.9;
}
.cid-sQs1RF8mDh textarea {
  min-height: 150px;
}
.cid-sQs1RF8mDh input[name='yourSubject'] {
  margin-top: 1.5rem;
}
.cid-sQs1RF8mDh textarea[name='yourMessage'] {
  margin-top: 0.3rem;
}
.cid-sQs1RF8mDh .form-control,
.cid-sQs1RF8mDh .field-input {
  padding: 1rem 0rem;
  background-color: #101010;
  border: none !important;
  border-bottom: 2px solid #414141 !important;
  border-color: #414141 !important;
  color: #ffffff !important;
  transition: 0.4s;
  font-size: 0.9rem;
  box-shadow: none;
  border-radius: 0px;
  outline: none;
}
.cid-sQs1RF8mDh .form-control input::-webkit-input-placeholder,
.cid-sQs1RF8mDh .field-input input::-webkit-input-placeholder,
.cid-sQs1RF8mDh .form-control textarea::-webkit-input-placeholder,
.cid-sQs1RF8mDh .field-input textarea::-webkit-input-placeholder {
  color: #acacac !important;
}
.cid-sQs1RF8mDh .form-control input:-moz-placeholder,
.cid-sQs1RF8mDh .field-input input:-moz-placeholder,
.cid-sQs1RF8mDh .form-control textarea:-moz-placeholder,
.cid-sQs1RF8mDh .field-input textarea:-moz-placeholder {
  color: #acacac !important;
}
.cid-sQs1RF8mDh .jq-number__spin:hover,
.cid-sQs1RF8mDh .jq-number__spin:focus {
  background-color: #101010;
  border-color: #e9204f !important;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-sQs1RF8mDh .jq-number__spin {
  background-color: #101010;
  border-color: #414141 !important;
  color: #ffffff;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-sQs1RF8mDh .jq-selectbox li,
.cid-sQs1RF8mDh .jq-selectbox li {
  background-color: #101010;
  color: #ffffff;
}
.cid-sQs1RF8mDh .jq-selectbox li:hover,
.cid-sQs1RF8mDh .jq-selectbox li.selected {
  background-color: #101010;
  color: #ffffff;
}
.cid-sQs1RF8mDh .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-sQs1RF8mDh .jq-number__spin.minus:hover:after,
.cid-sQs1RF8mDh .jq-number__spin.plus:hover:after {
  border-top-color: #101010;
  border-bottom-color: #101010;
}
.cid-sQs1RF8mDh .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-sQs1RF8mDh .jq-number__spin.minus:after,
.cid-sQs1RF8mDh .jq-number__spin.plus:after {
  border-top-color: #101010;
  border-bottom-color: #101010;
}
@media (max-width: 992px) {
  .cid-sQs1RF8mDh .media-content {
    padding-left: 0rem;
    padding-top: 2rem;
  }
  .cid-sQs1RF8mDh .social-list {
    margin-bottom: 3rem;
  }
  .cid-sQs1RF8mDh .email-input {
    margin-top: 2rem;
  }
}
.cid-sQs1RF8mDh .mbr-section-subtitle {
  color: #f20d0d;
  margin-bottom: 2.4rem;
}
.cid-sQs1RF8mDh .mbr-text {
  color: #acacac;
  margin-bottom: 3.5rem;
}
.cid-sQs1RF8mDh .mbr-iconfont-social {
  font-size: 1rem;
  color: #ffffff;
  margin-right: 0.6rem;
}
.cid-sQs1RF8mDh .mbr-iconfont-social:before {
  padding: 1rem;
  border: 2px solid;
  border-radius: 100px;
  border-color: #f20d0d;
  transition: all 0.3s;
}
.cid-sQs1RF8mDh .mbr-iconfont-social:hover {
  color: #f20d0d;
}
.cid-sQs1RF8mDh .social-list {
  display: flex;
}
.cid-sQs1RF8mDh .social-list a {
  transition: 0.3s;
}
.cid-sQs1RF8mDh .social-list a:hover {
  transform: translateY(-8px);
}
.cid-sQs1RF8mDh .row {
  align-items: center;
}
.cid-sQs1RF8mDh .mbr-section-title {
  margin-bottom: 1.3rem;
}
.cid-sQs1RF8mDh .btn {
  font-weight: bold;
  padding: 1rem 5.5rem;
}
.cid-sQs1RF8mDh .form-btn {
  margin-top: 2.5rem;
}
.cid-sQs1RF8mDh input::-webkit-input-placeholder,
.cid-sQs1RF8mDh textarea::-webkit-input-placeholder {
  color: #acacac !important;
}
.cid-sQs1RF8mDh input:-moz-placeholder,
.cid-sQs1RF8mDh textarea:-moz-placeholder {
  color: #acacac !important;
}
@media (min-width: 992px) {
  .cid-sQs1RF8mDh .media-content {
    padding-right: 3rem;
  }
  .cid-sQs1RF8mDh .email-input {
    padding-left: 2.2rem;
  }
}
@media (min-width: 767px) {
  .cid-sQs1RF8mDh .row {
    padding: 0 1rem;
  }
}
.cid-sQs1RF8mDh .btn:hover {
  background-color: #f20d0d !important;
  border-color: #f20d0d !important;
  color: #ffffff !important;
}
@media (max-width: 767px) {
  .cid-sQs1RF8mDh .form-btn {
    width: 100%;
  }
  .cid-sQs1RF8mDh .btn {
    width: 100%;
  }
}
.cid-sQs1GA92X3 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #ffffff;
}
.cid-sQs1GA92X3 .google-map {
  height: 30rem;
  position: relative;
}
.cid-sQs1GA92X3 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-sQs1GA92X3 .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-sQs1GA92X3 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-sQs1GA92X3 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-sQsyBMiMPu {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/fondo-rojo3-2000x900.jpg");
}
.cid-sQsyBMiMPu img {
  width: auto;
  max-height: 80px;
  display: inline-block;
  padding: 0;
}
.cid-sQsyBMiMPu .title {
  width: auto;
}
.cid-sQsyBMiMPu .row.justify-content-between {
  align-items: center;
}
.cid-sQsyBMiMPu .row.margin {
  transition-property: transform, -webkit-transform;
  align-items: center;
  transition: all 300ms ease;
}
.cid-sQsyBMiMPu .row.margin:hover {
  transform: scale(1.03);
}
.cid-sQsyBMiMPu .mbr-section-title {
  color: #ffffff;
}
.cid-sQsyBMiMPu a.dec {
  text-decoration: none !important;
}
.cid-sQsyBMiMPu .dec:hover {
  color: #14142b !important;
}
@media (max-width: 768px) {
  .cid-sQsyBMiMPu .row.margin {
    padding-bottom: 20px;
    justify-content: center;
  }
  .cid-sQsyBMiMPu .mbr-section-title {
    text-align: center;
  }
}
